.article-container {
    width: 100%;
}

.article {
    border: solid #898989 1px;
    background-color: #fefefe;
    height: 48px;
    padding: 4px;

    .title {
        color: #231815;
    }

    .url {
        color: #187FC4;
        font-weight: bold;
        text-decoration: none;
    }

    .attributes {
        display: flex;
        color: #B5B5B6;
        font-size: 14px;
        justify-content: space-between;
    }
}

.more-button {
    text-align: center;
    border: solid #898989 1px;
    background-color: #fefefe;
    margin-top: 4px;
    cursor: pointer;
}