<div class="article-container">
    <div class="article" *ngFor="let article of articles">
      <div class="title">
        <a class="url" href="{{article.url}}" target="_blank">{{article.title}}</a>
      </div>
      <div class="attributes">
        <div class="publish-date">
          {{article.publishDate}}
        </div>
        <div class="company-name">
          {{article.company.name}}
        </div>
      </div>
    </div>
    <div class='more-button' (click)='onClickMore()'>More ...</div>
  </div>
