.category-container {
    width: 100%;
}

.category {
    font-size: 16px;
    padding: 2px 0;

    &:hover {
        background-color: #C9CACA;
        cursor: pointer;
    }

    &.selected {
        background-color: #C9CACA;
    }
}
