.blog-terminal {
    display: table;
    height: 100vh;
    width: 100vw;
    background-color: #EFEFEF;
}

app-category {
    display: table-cell;
    width: 20%;
    padding: 20px;
}

app-article {
    display: table-cell;
    width: 80%;
    padding: 20px;
}